/*div {
    background-colour: bisque
}*/


.articulo {
    background-color: bisque;
    font-size: 1.2rem;
}

/* h2 {color: brown}*/

.marron {
    color: brown;
    font-size: 1.2rem;
}

.item {
    font-size: 1.5rem
}
